body{
    user-select: none; /* Disable text selection */
    overflow-y: hidden; /* Hide vertical scrollbar */
    display: flex; /* Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: var(--light-gray);
    color: var(--dark-blue);
    height: 100vh; /* Full height */
    font-family: "Montserrat SemiBold", sans-serif; /* Font */
}

